EXPORT
GDB
PLOTS/WForms/MD5
BROWSE
md5-????????????????????????????????_*
*.so
*~
*.pdf
*.o
*.pcm
*bak
*dSYM
classdict*
icemc
testEAS
testEAS-*
testInputAfterAntenna
testSettings
testThermalNoise
testTrigger
limits/*.pdf
limits/*.eps
PLOTS/WForms/*.eps
limits/makelimitplot
gitversion.c
setup.sh
doc/html
doc/latex
output*
