*.txt
*.dat
*.o
*.pcm
*bak
*dSYM
classdict*
*png
*sh
*root
*pdf
icemc
testEAS
testWAIS
testInputAfterAntenna
testSettings
testThermalNoise
testTrigger
limits/*.pdf
limits/*.eps
limits/*.png
limits/makelimitplot
gitversion.c
setup.sh
doc/html
doc/latex
output*
efficiencyScan*