*.pdf
*.o
*.pcm
*bak
*dSYM
classdict*
icemc
testEAS
testInputAfterAntenna
testSettings
testThermalNoise
testTrigger
limits/*.pdf
limits/*.eps
limits/makelimitplot
gitversion.c
setup.sh
doc/html
doc/latex
output*
